/* Ensure elements are properly aligned */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease; 
}

.contact-container {
  background: linear-gradient(to right, #191919, #444444);
  width: 100%;
  min-height: 50vh; /* Minimum height for better responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards; 
}

.content {
  text-align: center;
  padding: 20px;
}

.content h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 4rem;
  animation: slideIn 1s ease-out forwards; 
}

.content input[type="text"] {
  padding: 10px;
  width: 100%; /* Use full width instead of fixed width */
  max-width: 400px; /* Limit the max width */
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  opacity: 0;
  animation: fadeIn 1.5s 0.5s forwards; 
}

.content input[type="text"]:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
  }

  .content input[type="text"] {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .content h1 {
    font-size: 2rem;
  }

  .content input[type="text"] {
    max-width: 90%;
  }

  .contact-container {
    padding: 20px;
  }
}

/* Keep other sections as is */

/* FAQ Section */
.faq-section {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  opacity: 0;
  animation: fadeIn 1s 1s forwards; 
}

.faq-heading {
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;
}

.faq-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

.faq-box {
  background: linear-gradient(to right, #191919, #444444);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out; 
}

.faq-box:hover {
  transform: scale(1); 
}

.faq-box h3 {
  font-size: 1.5rem;
  color: white;
}

.faq-icon {
  font-size: 3rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 15px;
}

.faq-box p {
  font-size: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .faq-boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .faq-boxes {
    grid-template-columns: 1fr;
  }
}
